{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>DANCAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: black">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand text-warning" href="#"><img src="{% static 'app/img/logo.png' %}" style="width:50px;">DANCAS</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="btn btn-warning btn-outline-warning font-weight-bold" href="{% url 'index'%}">INICIO <span
              class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning btn-outline-warning font-weight-bold" href="#">AULAS</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning btn-outline-warning font-weight-bold" href="{% url 'usuario'%}">AREA DO ALUNO</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning btn-outline-warning font-weight-bold" href="{% url 'login'%}">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning btn-outline-warning font-weight-bold" href="{% url 'cadastro'%}">CADASTRE-SE</a>
                </li>

            </ul>
        </div>
    </nav>

    <div style="min-height: 800px">
        <!--bloco para ser extendido-->
        <!--corpo do site-->
        {% block content %} {% endblock %}
        <!--fim do corpo do site-->
    </div>

    <script src="{% static 'app/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <footer class="text-muted text-light" style="height: 60px">
        <div class="container">
            <p class="text-center text-warning">DANCAS</p>
        </div>
    </footer>
</body>

</html>