{% extends 'main.html' %} {% block content %} {% load static%}
<!-- navbar -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <a class="navbar-brand col-sm-2" href="/">
            <img class="img-fluid mr-0" src="{% static 'cfit/img/logo.png' %}" alt="logo" />
        </a>
        <cfit-button class="navbar-toggler w3-button w3-round w3-orange py-4" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">OPÇÕES
        </cfit-button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div id="options" class="mr-auto">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a href="{% url 'home'  %}">
                            <cfit-button class="col-sm-12 w3-button my-2"><b>AULAS</b>
                            </cfit-button>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="">
                            <cfit-button class="col-sm-12 w3-button my-2"><b>MINHAS INFORMAÇÕES</b>
                            </cfit-button>
                        </a>
                    </li>

                </ul>
            </div>
            <a href="{% url 'logout'  %}" class="mx-3">
                <cfit-button class="col-sm-12 w3-button w3-red my-2 mx-2"><b>SAIR</b>
                </cfit-button>
            </a>
        </div>
    </nav>
</div>

<div class="row">

    <div class="sidenav w3-black border w3-border-orange col-2 text-center pt-3">
        <cfit-button class="col-sm-12 my-2 mx-1">PLAYLISTS</cfit-button>
        <cfit-button class="col-sm-12 my-2 mx-1">ALUNOS</cfit-button>
        <cfit-button class="col-sm-12 my-2 mx-1">MENSAGENS</cfit-button>
        <cfit-button class="col-sm-12 my-2 mx-1">AJUSTES</cfit-button>
    </div>
    <div class="col-10 border-danger" style="border:3px solid; min-height:500px;">
        {% block 'paineis' %}

        {% endblock %}
    </div>
</div>

<script src="{% static 'cfit/js/index/index_logado.js' %}"></script>
<!-- end navbar -->
{% endblock%}