{% extends 'cfit_admin/cfit_admin.html' %} {% block 'painels_admin' %} {% load static%}
<div class="cfit-div-dark-admin rounded">
    <div class="row container col-12 d-flex justify-content-start cfit-div-dark-admin">
        <div class="container col-6 cfit-div-dark-admin rounded">
            <div class="container ">
                <form class="cfit-div-dark-admin rounded" method="post"
                    action="{% url 'cfit_admin_playlists_aulas_editar_salvar'  %}">
                    {% csrf_token %}
                    <input type="text" hidden name="edit_video_playlist_id" value="{{video.playlist_id}}">
                    <input type="text" hidden name="edit_video_id" value="{{video.id}}">
                    <label for="edit_video_nome" class="h2"><b>Nome</b></label>
                    <input class="form-control form-control-lg my-2 border w3-border-deep-purple" id="edit_video_nome"
                        name="edit_video_nome" type="text" value="{{video.nome}}">
                    <label for="edit_video_link" class="h2"><b>link</b></label>
                    <input class="form-control form-control-lg border w3-border-deep-purple" id="edit_video_link"
                        name="edit_video_link" type="text" value="{{video.link}}">
                    <div class="d-flex justify-content-end my-2">
                        <wsi_button class="cfit-button-admin" style="background-color: rgba(90, 0, 90, 0.76);">SALVAR
                        </wsi_button>
                    </div>
                </form>
                <div class="row m-1 container cfit-div-dark-admin">
                    <form class="rounded" action="{% url 'cfit_admin_playlists_aulas_excluir'  %}" method="POST">
                        {% csrf_token %}
                        <input type="text" hidden name="edit_video_playlist_id" value="{{video.playlist_id}}">
                        <input type="text" hidden name="video_id" value="{{video.id}}">
                        <div class="my-2 float-left">
                            <wsi_button class="cfit-button-admin">EXCLUIR VIDEO</wsi_button>
                        </div>
                        <div class="container">
                            <input class="form-check-input mx-2 mt-4"  style="width:20px; height:20px;" type="checkbox" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'cfit/js/cfit_admin/cfit_admin_playlists.js' %}"></script>
{% endblock%}