{% extends 'main.html' %} {% block content %}
<div class="container col-12 d-flex justify-content-center">
  <div
    class="col-6 ws-box"
  >
    <br />
    <!--cadastro usuario-->
    <h1 class="text-center text-warning font-weight-bold h1">CADASTRE-SE<h1>
    <div class="container d-flex justify-content-center col-sm-12">
      <form class="col-12" action="{% url 'efetuar_cadastro' %}" method="POST" autocomplete="off">
      {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Login" name='login' required/>
        </div>
        <div class="form-group">
          <input
            name='senha'
            type="password"
            class="form-control"
            placeholder="Senha"
            required
          />
        </div>
        <div class="form-group d-flex justify-content-center">
          <input
            type="submit"
            class="btn btn-block font-weight-bold btn-outline-warning col-lg-4 col-sm-12"
            value="CADASTRAR"
          />
        </div>
      </form>
    </div>
    <div id="mensagens">
      <p class="text-center text-danger">{{erro}}</p>
      <p class="text-center text-success">{{sucesso}}</p>
    </div>
    <!-- FIM cadastro usuario-->
  </div>
</div>
{% endblock %}
