{% extends 'main.html' %} {% block content %} {% load static%}
<!-- navbar -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <a class="navbar-brand col-sm-2" href="{% url 'home'  %}">
            <img class="img-fluid mr-0" src="{% static 'cfit/img/logo.png' %}" alt="logo" />
        </a>
        <wsi_button class="navbar-toggler py-4 btn btn-lg" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation" style="background-color: rgba(238, 174, 55, 0.671); color:black;">MENU
        </wsi_button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div id="options">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-1">
                        <a href="/">
                            <wsi_button class="col-sm-12 cfit-button my-2"><b>INICIO</b>
                            </wsi_button>
                        </a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="{% url 'home'  %}">
                            <wsi_button class="col-sm-12 cfit-button my-2"><b>AULAS</b>
                            </wsi_button>
                        </a>
                    </li>
                    <!-- <li class="nav-item mx-1">
                        <a class="col-sm-12 w3-button w3-round font-weight-bold w3-orange my-2"
                            href="/#planos ">PLANOS</a>
                    </li> -->
                    <li class="nav-item mx-1">
                        <a href="/#contatos ">
                            <wsi_button class="col-sm-12 my-2 cfit-button"><b>CONTATOS</b>
                            </wsi_button>
                        </a>
                    </li>
                    <li class="nav-item mx-1">
                        <wsi_button class="col-sm-12 my-2 cfit-button" data-target="#modal_cadastro"
                            data-toggle="modal"><b>CADASTRE-SE</b></wsi_button>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="col-md-4">
                <div class="col-sm-1">
                    <wsi_button data-toggle="modal" id="botao_login" data-target="#modal_login"
                        class="cfit-button w3-orange pr-2   "><b>LOGIN</b> <span><img style="width:30px;"
                                src="{% static 'cfit/img/conta.png' %}" alt=""></span>
                    </wsi_button>
                </div>
            </div>
            <!-- modal login -->
            <wsi_modal id="modal_login" class="text-center">
                <template v-slot:modal_header>
                    LOGIN
                </template>
                <template v-slot:modal_body>
                    <wsi_login></wsi_login>
                </template>
            </wsi_modal>
            <!-- end modal login -->
            <!-- modal cadastro -->
            <wsi_modal id="modal_cadastro" class="text-center">
                <template v-slot:modal_header>
                    CADASTRO
                </template>
                <template v-slot:modal_body>
                    
                </template>
            </wsi_modal>
            <!-- end modal cadastro -->
        </div>
    </nav>
</div>
<!-- end navbar -->

{% block index %}

{% endblock %}
{% endblock %}