{% extends 'main.html' %} {% block content %} {% load static%}
<!-- navbar -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <a class="navbar-brand col-sm-2" href="/">
            <img class="img-fluid mr-0" src="{% static 'cfit/img/logo.png' %}" alt="logo" />
        </a>
        <wsi_button class="navbar-toggler w3-button w3-round w3-orange py-4" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">OPÇÕES
        </wsi_button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div id="options">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-1">
                        <a class="col-sm-12 w3-button w3-round font-weight-bold w3-orange my-2"
                            href="{% url 'home'  %}">AULAS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="col-sm-12 w3-button w3-round font-weight-bold w3-orange my-2"
                            href="/#planos ">PLANOS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="col-sm-12 w3-button w3-round font-weight-bold w3-orange my-2 "
                            href="/#contatos ">CONTATOS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="col-sm-12 w3-button w3-round font-weight-bold w3-orange my-2"
                            data-target="#modal_cadastro" data-toggle="modal">CADASTRE-SE</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="col-sm-12  px-auto">
                <wsi_button data-toggle="modal" id="botao_login" data-target="#modal_login" v-on:click="botao_clicado()"
                    class="w3-orange col-sm-12 px-auto">
                    <div class="row d-flex justify-content-center px-5 text-center">
                        <span style="font-size: 30px;" class="material-icons">
                            account_circle
                        </span>
                    </div>
                    <div>
                        LOGIN
                    </div>
                </wsi_button>
            </div>
            <!-- modal login -->
            <wsi_modal id="modal_login" class="text-center">
                <template v-slot:modal_header>
                    CFIT LOGIN
                </template>
                <template v-slot:modal_body>
                    <wsi_login></wsi_login>
                </template>
            </wsi_modal>
            <!-- end modal login -->
            <!-- modal cadastro -->
            <wsi_modal id="modal_cadastro" class="text-center">
                <template v-slot:modal_header>
                    CFIT CADASTRO
                </template>
                <template v-slot:modal_body>
                    <div>
                        <form id="form_cadastro" autocomplete="off">
                            <label for="cadastro_usuario" class="p-0 float-left">Usuario <span
                                    id="cadastro_usuario_invalid" class="text-danger" style="display: none;">* PREENCHA
                                    ESSE CAMPO</span></label>
                            <input class="form-control" name="cadastro_usuario" id="cadastro_usuario" type="text">
                            <div class="my-2">
                                <label for="cadastro_senha" class="p-0 float-left">Senha <span
                                        id="cadastro_senha_invalid" class="text-danger" style="display: none;">*
                                        PREENCHA ESSE CAMPO</span></label>
                                <input class="form-control" name="cadastro_senha" id="cadastro_senha" type="password">
                            </div>
                            <div class="alert alert-danger my-2" id="alert_cadastro" role="alert"
                                style="display: none;">
                                <h3 id="alert_cadastro_msg"></h3>
                            </div>
                            <div class="alert alert-success my-2" id="cadastro_alert_sucesso" role="alert"
                                style="display: none;">
                                <h3>CADASTRADO COM SUCESSO!</h3>
                            </div>
                        </form>
                        <wsi_button class="w3-orange mx-1 mt-4" onclick="cadastrar_usuario()">CADASTRAR</wsi_button>
                    </div>
                </template>
            </wsi_modal>
            <!-- end modal cadastro -->
        </div>
    </nav>
</div>
<!-- end navbar -->

{% block index %}

{% endblock %}
{% endblock %}