{% extends 'main.html' %} {% block content %} {% load static%}
<!-- navbar -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand col-2" href="/">
            <img class="img-fluid mr-0" src="{% static 'cfit/img/logo.png' %}" alt="logo" />
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div id="options" class="mx-auto">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-light hvr-ripple-in" href="#">AULAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-light hvr-ripple-in" href="#planos">PLANOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-light hvr-ripple-in" href="#modalidades">MODALIDADES</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-light hvr-ripple-in" href="#contatos">CONTATOS</a>
                    </li>
                </ul>
            </div>
            <div class="col-5"></div>
            <div id="login">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                    LOGIN
                </button>

                <!-- modal login -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title text-dark" id="exampleModalLongTitle">
                                    ENTRAR
                                </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form id="form-login" autocomplete="off" class="text-center">
                                        <input type="text" class="form-control text-center" placeholder="USUARIO">
                                        <input type="password" class="form-control my-3 text-center" placeholder="SENHA">
                                    </form>
                                </div>
                                <div class="text-center"> <button type="button" class="btn btn-primary">
                                        ENTRAR
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal login -->

            </div>
        </div>
    </nav>
</div>
<!-- end navbar -->
<script src="{% static 'cfit/js/index/index_deslogado.js' %}"></script>
{% endblock %}