{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'cfit/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'cfit/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cfit/css/animate.min.css'%}" />
    <link rel="stylesheet" href="{% static 'cfit/css/hover-min.css'%}" />
    <link rel="stylesheet" href="{% static 'cfit/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'cfit/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'cfit/css/w3-colors-win8.css' %}">
    <!-- SCRIPTS -->
    <script src="{% static 'cfit/js/jquery.js'%}"></script>
    <script src="{% static 'cfit/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'cfit/js/vue.js' %}"></script>
    <script src="{% static 'cfit/js/vue.global.js' %}"></script>
    <title>Carvalhos FIT</title>
</head>

<body id="app" class="w3-black">
    <div style="min-height:600px;">
        {% block content%} {% endblock content %}
    </div>
    <footer class="footer" style="border-top: 1px solid gray;">
        <div class="container-flex w3-black py-3 text-center">
            <strong class="text-light h5">Carvalhos Fit</strong> <small>&reg;</small> <span id="ano"></span>
        </div>
        <div class="container-flex w3-black py-1 text-center">
            <small>DESENVOLVIDO POR: <a class="h5 font-weight-bold text-warning"
                    href="https://www.linkedin.com/in/walter-pereira-245067161/">Walter
                    Silva</a></small>
        </div>
        <div class="container-flex w3-black text-center">
            <a class=" h5 w3-text-cyan font-weight-bold" href="https://waltersilva5.github.io/">WALTERSILVA5.GITHUB.IO</a>
        </div>
    </footer>
    <script type="module" src="{% static 'cfit/js/main/main.js'%}"></script>
    <script src="{% static 'cfit/js/index/index_deslogado.js' %}"></script>
</body>
</html>