{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cfit/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cfit/css/animate.min.css'%}" />
    <link rel="stylesheet" href="{% static 'cfit/css/hover-min.css'%}" />
    <!-- SCRIPTS -->
    <script src="{% static 'cfit/js/jquery.js'%}"></script>
    <script src="{% static 'cfit/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'cfit/js/vue.js' %}"></script>
    <title>Carvalhos FIT</title>
</head>

<body>
    {% block content%} {% endblock content %}
    <script href="{% static 'cfit/js/main/main.js'%}"></script>
</body>

</html>