{% extends 'main.html' %} {% block content %} {% load static%}
<!-- navbar -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <a class="navbar-brand col-sm-2">
            <img class="img-fluid mr-0" src="{% static 'cfit/img/logo.png' %}" alt="logo" />
        </a>
        <wsi_button class="navbar-toggler w3-button w3-round w3-orange py-4" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">MENU
        </wsi_button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div id="options" class="mr-auto">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a href="{% url 'home'  %}">
                            <wsi_button class="col-sm-12 w3-button my-2"><b>AULAS</b>
                            </wsi_button>
                        </a>
                    </li>
                </ul>
            </div>
            <wsi_button_float></wsi_button_float>
        </div>
    </nav>
</div>

<h1 class="text-center"><b>PLAYLIST: {{playlist_nome}}</b></h1>

{% for video in videos %}
<div class="container">
    <h3>{{video.nome}}</h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="{{video.link}}" allow="fullscreen;"></iframe>
        <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;
        </div>
    </div>
</div>
{% endfor %}

<script src="{% static 'cfit/js/index/index_logado.js' %}"></script>
<!-- end navbar -->
{% endblock%}