{% extends 'main.html' %} {% block content %} {% load static%}
<!-- navbar -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <a class="navbar-brand col-sm-2" href="{% url 'home'  %}">
            <img class="img-fluid mr-0" src="{% static 'cfit/img/logo.png' %}" alt="logo" />
        </a>
        <wsi_button class="navbar-toggler py-4 btn btn-lg" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation" style="background-color: rgba(238, 174, 55, 0.671); color:black;">MENU
        </wsi_button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div id="options" class="mr-auto">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a href="{% url 'home'  %}">
                            <wsi_button class="col-sm-12 w3-button my-2"><b>AULAS</b>
                            </wsi_button>
                        </a>
                    </li>
                </ul>
            </div>
            <wsi_button_float></wsi_button_float>
        </div>
    </nav>
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-6 row">
        <div class="container " id="video__player">
            <h3 id="video__titulo" class="h4 w3-text-orange"><b>{{videos.0.nome}}</b></h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="{{videos.0.link}}" allow="fullscreen"></iframe>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="justify-content-center text-center col-md-6">
        <div class="row text-center border w3-border-orange rounded" id="playlist_menu"
            style="max-height: 300px; overflow: auto;">
            <h4 class="text-center col-12 h4 w3-text-orange"><b>VIDEOS DA PLAYLIST: {{playlist.nome}}</b></h4>
            {% for video in videos %}
            <input type="text" hidden value='{{video.nome}}' id="{{video.id}}__titulo">
            <input type="text" hidden value='{{video.link}}' id="{{video.id}}__link">
            <wsi_button class="botao_menu_player col-12" id="{{video.id}}__bt">
                <img src="{% static 'cfit/img/play.png' %}" style="width:30px; float:left;">
                {{video.nome}}
            </wsi_button>
            {% endfor %}
        </div>
        <div class="row p-4 my-4 border w3-border-orange rounded">
            {{playlist.descricao}}
        </div>
    </div>
</div>


<script src="{% static 'cfit/js/index/play.js' %}"></script>
<script src="{% static 'cfit/js/index/index_logado.js' %}"></script>
<!-- end navbar -->
{% endblock%}